<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <div align="center">
        <h2>Login</h2>
        <form action="/login" method="post" >
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="checkbox" id="admin" name="admin"> Login as Admin<br><br>
            <input type="submit" value="Login">
            <button><a href="/auth/google/in" id="signIn">Sign In with Google</a></button>
            <button><a href="/auth/github/in" id="signIn">Sign In with Github</a></button>
            <button onclick="location.href='/'">Back Main</button><br>
        </form>
    </div>
</body>
</html>
